/* =========================
   Root Variables & Resets
   ========================= */
:root {
  --black: #000000;
  --white: #ffffff;
  --color1: #8b827b;
  --color2: #eff3f9;
  --color4: #62638d;
  --color3: #000000;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--color3);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 60%;
  margin-bottom: 0.5rem;
}

h2 {
  color: var(--black);
  font-size: 1.2rem;
  margin: 0 1rem 1rem 1rem;
  font-weight: normal;
}

p {
  color: var(--black);
  font-size: 1.1rem;
  margin: 1.5rem;
}

html,
body {
  height: calc(100vh + 50px);
  background-color: var(--black);
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-image: url("assets/seamless_dark_pattern.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  overflow: hidden;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color1);
  margin: 3px 50px;
  padding: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-image: url("assets/board.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 400 / 520;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 20px;
}

footer > p {
  font-size: 0.7rem;
  margin-top: -5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-text {
  opacity: 0;
}

.warning-text {
  opacity: 0;
}

.warning-text.fade-in {
  animation: fadeIn 2s forwards;
}

#warning-prediction {
  font-size: 0.9rem;
  min-height: 3.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2em;
}

main h2 {
  margin-top: 1rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--black);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
  margin: auto;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Mobile Styles */
@media (max-width: 450px) {
  .page-wrapper {
    align-items: flex-start;
  }

  .container {
    margin-top: 20vh;
  }
}
